body {
    font-family: "Microsoft JhengHei", sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}
h1 {
    color: #333;
}
.board {
    width: 300px;
    height: 300px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
}
.cell {
    background-color: #fafafa;
    border: 3px solid #ddd;
    font-size: 2.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.25s;
    border-radius: 12px;
    font-weight: bold;
}

.cell:hover {
    background-color: #d3d3d3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.controls {
    margin-top: 10px;
}
#scoreboard {
    margin-top: 15px;
    padding-top: 15px;
    font-size: 1.2em;
    border-top: 2px solid #eee;
    color: #444;
}
.score-item {
    margin: 5px 0;
}
button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background: linear-gradient(135deg, #003662, #1e88e5);
    color: white;
    transition: 0.25s;
}
button:hover {
    transform: scale(1.08);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
#scoreX { color: #007BFF; font-weight: bold; }
#scoreO { color: #FF3B30; font-weight: bold; }
#scoreDraw { color: #888; font-weight: bold; }

